[submodule "TIM-VX"]
	path = TIM-VX
	url = https://github.com/VeriSilicon/TIM-VX.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "Radxa-A733-NPU-Unified-Driver-Support-Package"]
	path = Radxa-A733-NPU-Unified-Driver-Support-Package
	url = git@github.com:MaverickLong/Radxa-A733-NPU-Unified-Driver-Support-Package.git
